/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-link:hover {
  color: rgb(192, 79, 79); /* Change text color on hover */
/*
  background-color: rgb(136, 181, 211); /* Change background color on hover 
}
.active {
  background-color: rgb(143, 144, 146);
  color: rgb(149, 214, 88);
  text-decoration-color: rgba(0, 0, 0, 0.192);
}



 */


.App {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
}

.random-clue {
  color: #666;
  margin: 20px 0;
}

.hidden-location {
  /* Initially hidden and cannot be seen */
  display: none; /* Completely hides the clue in the DOM */
  font-size: 0px; /* Hides the clue text */
}

.hidden-location.show {
  /* This rule is triggered when the clue becomes visible */
  display: block;
  font-size: 16px;
  color: black; /* Any color to make the clue visible */
}

.instructions {
  margin-top: 20px;
}
